---
import Layout from "../../layouts/Layout.astro";
import Title from "../../components/Title.astro";
import "../../styles/title.scss";
import "../../styles/method.scss";
---

<Layout title="活動辦法">
    <main>
        <div class="container breadcrumb">
            <nav>
                <a href="#">首頁</a> / <a href="#">有獎徵答</a> / <a href="#"
                    >活動辦法</a
                >
            </nav>
        </div>

        <div class="container">
            <Title title={["活動辦法"]} classname="method" />

            <div class="method">
                <img
                    src="https://placehold.co/1280x300"
                    alt=""
                    width="1280"
                    height="300"
                    class="method__banner"
                />
            </div>
        </div>
    </main>
</Layout>
