.book-list {
    display: flex;
    gap: 30px;

    @media (max-width: $tablet) {
        flex-direction: column;
        margin-inline: 20px;
    }

    aside {
        @media (max-width: $tablet) {
            order: 1;
        }

        a {
            font-size: 18px;
            font-weight: var(--weight-regular);
            color: #000;
            display: flex;
            padding-inline: 20px;
            text-align: center;
            word-break: keep-all;
            text-align: left;
            transition: all 0.3s ease-in-out;

            svg {
                position: relative;
                left: -4px;

                g path {
                    transition: all 0.3s ease-in-out;
                }
            }

            &:hover {
                color: var(--primary-color);

                svg g path {
                    stroke: var(--primary-color);
                }
            }

            &:not(.all) {
                padding-block: 7px;
                border-radius: 5px;
                background-color: white;
            }

            &.all {
                padding-bottom: 20px;
            }

            &.active {
                color: var(--primary-color);
                background-color: var(--tertiary-color);
            }
        }
    }

    .main-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;

        @media (max-width: $desktop) {
            margin-right: 20px;
        }

        @media (max-width: $tablet) {
            display: contents;
            margin-right: 0;
        }
    }

    .top-part {
        @media (max-width: $tablet) {
            order: 0;
        }
    }

    .middle-part,
    .bottom-part {
        @media (max-width: $tablet) {
            order: 1;
        }
    }

    .filter {
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .label {
            font-size: 18px;
            font-weight: var(--weight-regular);
            letter-spacing: 1px;
            margin-right: 30px;

            @media (max-width: $tablet) {
                font-size: 16px;
                letter-spacing: 0.3px;
            }
        }

        .selector {
            display: grid;
            grid-template-columns: 1fr 15px;
            gap: 5px;
            align-items: center;
            cursor: pointer;
        }

        .search {
            display: flex;
            align-items: center;

            @media (max-width: $tablet) {
                flex-direction: column;
            }

            form {
                display: flex;
                justify-content: space-between;
                border: 1px solid var(--senary-color);
                border-radius: 5px;
                padding-block: 9px;
                padding-inline: 15px 10px;
                width: calc(300px - 27px);

                input {
                    border: 0;
                    outline: 0;
                    background-color: transparent;
                    font-size: 16px;
                    font-weight: var(--weight-light);
                    width: calc(100% - 27px);
                    padding: 0;

                    &::placeholder {
                        color: var(--septenary-color);
                    }
                }

                button {
                    display: inline-flex;
                    padding: 0;
                    border: 0;
                    background-color: transparent;
                    cursor: pointer;

                    svg {
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            .prompt {
                margin-left: 20px;
            }
        }

        .quick {
            display: flex;

            @media (max-width: $tablet) {
                flex-direction: column;
            }

            .method {
                display: flex;
                gap: 20px;
            }

            .cate,
            .age {
                div {
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        .download {
            display: flex;

            @media (max-width: $tablet) {
                flex-direction: column;
            }

            .files {
                display: flex;
                gap: 20px;

                @media (max-width: $tablet) {
                    flex-wrap: wrap;
                }
            }

            ul {
                list-style: none;
                padding-inline-start: 0;
                margin-block: 0;
            }
        }
    }
}
