@font-face {
    font-family: "NotoSansTC";
    src: url("/fonts/Noto_Sans_TC/NotoSansTC.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --primary-color: #3b84b7;
    --secondary-color: #86c0e9;
    --tertiary-color: #e5f4ff;
    --quaternary-color: #212f5d;
    --quinary-color: #f3f3f3;
    --senary-color: #d8d8d8;
    --septenary-color: #7e7e7e;
    --font-family: "NotoSansTC", sans-serif;
    font-family: var(--font-family);
    --weight-extra-light: 100;
    --weight-light: 200;
    --weight-normal: 300;
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-bold: 700;
    --weight-heavy: 900;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --container-largeDesktop: 1280px;
    --container-desktop: 1240px;
    --container-tablet: 983px;
    --container-mobile: 727px;
    --container-smallMobile: 280px;
    --transition-out-back: cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

a {
    text-decoration: none;
}

b {
    font-weight: var(--weight-bold);
}

.link-underline {
    color: var(--primary-color);
    text-decoration: underline;
    text-underline-offset: 5px;
    position: relative;
    bottom: 3px;
    transition: all 0.3s ease;

    &:hover {
        color: var(--septenary-color);
    }
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}

main {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.full-container {
    max-width: $largeDesktop;
    width: 100%;

    @media (max-width: $desktop) {
        max-width: 100%;
    }
}

.container {
    max-width: var(--container-largeDesktop);
    width: 100%;
}

button.btn {
    outline: none;
    cursor: pointer;
    border-style: solid;
    transition: all 0.3s ease;
    font-family: var(--font-family);
}

.file {
    width: fit-content;
    display: inline-grid;
    gap: 10px;
    align-items: center;
    border-width: 0;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    font-weight: var(--weight-regular);
    letter-spacing: 0.3px;
    text-align: left;

    &:hover {
        background-color: var(--septenary-color);
    }
}

a.file {
    transition: all 0.3s ease;
}

.breadcrumb {
    margin-block: 20px 40px;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    font-size: 13px;
    font-weight: var(--weight-normal);
    line-height: 1.462;
    letter-spacing: 0.5px;
    color: var(--septenary-color);

    @media (max-width: $tablet) {
        display: none;
    }

    nav {
        @media (max-width: $desktop) {
            margin-inline: 20px;
        }
    }

    a {
        color: var(--septenary-color);
        transition: all 0.3s ease;

        &:hover {
            color: var(--primary-color);
        }
    }
}

.checkbox-group {
    display: flex;
    flex-direction: column;

    .checkbox-item {
        display: flex;
        align-items: center;
        position: relative;
    }

    input,
    label {
        cursor: pointer;
    }

    label {
        transition: all 0.3s ease;
    }

    input {
        position: absolute;
        appearance: none;
        -webkit-appearance: none;
        padding: 0;
        margin: 0;
        border-width: 1px;
        border-style: solid;
        border-radius: 5px;
        outline-offset: 0px;
        outline: none;
        background-color: white;

        &::before {
            content: "";
            position: absolute;
            top: -2px;
            left: -1px;
            clip-path: polygon(
                41% 83%,
                87% 11%,
                95% 11%,
                100% 17%,
                49% 96%,
                42% 100%,
                34% 96%,
                0 60%,
                2% 53%,
                9% 51%
            );
            transform: rotate(10deg) scale(0);
            background-color: var(--primary-color);
        }

        &:checked::before {
            transform: rotate(10deg) scale(0.6);
        }
    }
}
