.guide {
    display: flex;
    gap: 30px;
    margin-bottom: 60px;

    @media (max-width: $tablet) {
        flex-direction: column;
        margin-inline: 20px;
        margin-bottom: 30px;
    }

    .main-content {
        width: 100%;

        @media (max-width: $desktop) {
            margin-right: 20px;
        }

        @media (max-width: $tablet) {
            margin-right: 0;
        }
    }
}

.books,
.recommend {
    .main-content {
        display: flex;
        flex-direction: column;
        gap: 40px;

        @media (max-width: $tablet) {
            display: contents;
        }
    }

    .top-part {
        @media (max-width: $tablet) {
            order: 0;
        }
    }

    .middle-part,
    .bottom-part {
        @media (max-width: $tablet) {
            order: 1;
        }
    }

    .results {
        display: flex;
        flex-wrap: wrap;
        gap: 40px 42px;

        @media (max-width: $desktop) {
            gap: 30px 25px;
        }

        .common-card__card {
            //width: 180px;
            width: calc((100% - (42px * 4)) / 5);
            max-height: 346px;

            @media (max-width: $desktop) {
                width: calc((100% - (25px * 3)) / 4);
            }

            @media (max-width: $tablet) {
                //width: 155px;
                width: calc((100% - (25px * 2)) / 3);
                max-height: 306px;
            }

            @media (max-width: $mobile) {
                width: calc((100% - (25px * 1)) / 2);
            }

            @media (max-width: $smallMobile) {
                width: 100%;
            }
        }

        //.common-card__card--img {
        //    width: 180px;
        //    height: 250px;

        //    @media (max-width: $tablet) {
        //        width: 155px;
        //        height: 215px;
        //    }
        //}

        .common-card__card--text {
            padding-inline: 10px;
        }
    }
}

.selection {
    @media (max-width: $tablet) {
        gap: 20px;
        margin-top: 30px;
    }

    .top-part {
        display: flex;
        flex-direction: column;

        @media (max-width: $tablet) {
            gap: 20px;
        }
    }

    .middle-part {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: $tablet) {
            display: contents;
        }
    }

    .convener {
        text-align: left;
        color: #000;
        font-size: 20px;
        font-weight: var(--weight-medium);
        letter-spacing: 0.2px;
        position: relative;
        padding-left: 20px;

        @media (max-width: $tablet) {
            order: 1;
            font-size: 16px;
            font-weight: var(--weight-regular);
            padding-left: 10px;
        }

        &::before {
            content: "";
            display: block;
            width: 10px;
            height: 10px;
            background-color: #000;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);

            @media (max-width: $tablet) {
                width: 5px;
                height: 5px;
            }
        }
    }

    .options {
        display: none;
        flex-direction: column;
        position: absolute;
        padding-block: 5px;

        .option {
            padding-inline: 20px;
            padding-block: 7px 2px;
            font-size: 16px;
            font-weight: var(--weight-normal);
            color: #000;
            transition: all 0.3s ease;

            &:hover {
                color: var(--primary-color);
            }
        }

        a.option {
            text-align: left;
        }
    }

    ul.options {
        list-style: none;
        padding-inline-start: 0;
        margin-block: 0;

        li {
            cursor: pointer;
            text-align: left;
        }
    }

    .selector {
        position: relative;

        @media (max-width: $tablet) {
            order: 0;
            max-width: 150px;
            width: 100%;
            margin-left: auto;
        }

        &.open .options {
            display: flex;
            width: 100%;
            top: 40px;
            left: 0;
            z-index: 1;
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
        }

        &-btn {
            display: grid;
            grid-template-columns: 1fr 15px;
            gap: 5px;
            padding: 7px 20px;
            align-items: center;
            cursor: pointer;
            border: 1px solid var(--senary-color);
            border-radius: 5px;

            @media (max-width: $tablet) {
                padding: 8.5px 10px;
            }

            span {
                font-size: 18px;
                font-weight: var(--weight-regular);
                width: 118px;
                display: inline-block;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                overflow: hidden;
                line-height: 1.334;
                -webkit-line-clamp: 1;
                max-height: 1.334em;
                color: #000;

                @media (max-width: $tablet) {
                    font-size: 16px;
                    width: 100%;
                    line-height: 1.313;
                    max-height: 1.313em;
                }
            }
        }
    }

    .bottom-part {
        text-align: left;
        font-size: 18px;
        font-weight: var(--weight-regular);
        letter-spacing: 0.3px;
        color: #000;
        margin-block: 20px 0;

        @media (max-width: $tablet) {
            font-size: 16px;
            letter-spacing: 0px;
            margin-block-start: 10px;
        }
    }
}

.mark {
    .main-content {
        @media (max-width: $desktop) {
            margin-left: 20px;
        }

        @media (max-width: $tablet) {
            margin-left: 0;
        }
    }

    .top-part {
        display: flex;
        justify-content: flex-start;

        @media (max-width: $tablet) {
            justify-content: center;
        }

        img {
            width: 100%;
            max-width: 250px;
            height: auto;

            @media (max-width: $tablet) {
                max-width: 180px;
            }
        }
    }

    .bottom-part {
        text-align: left;
        margin-block: 25px 0;
        font-size: 18px;
        font-weight: var(--weight-regular);
        letter-spacing: 0.3px;

        @media (max-width: $tablet) {
            margin-block-start: 15px;
            font-size: 16px;
        }
    }
}

.books-detail {
    .main-content {
        @media (max-width: $desktop) {
            margin-left: 20px;
        }

        @media (max-width: $tablet) {
            margin-left: 0;
        }
    }

    .middle-part {
        margin-block: 40px 20px;
        display: flex;
        gap: 30px;

        @media (max-width: $tablet) {
            margin-block-start: 30px;
            flex-direction: column;
            gap: 20px;
            align-items: center;
        }

        img {
            border-radius: 5px;
            object-fit: cover;

            @media (max-width: $tablet) {
                width: 100%;
                max-width: 155px;
                height: auto;
            }
        }
    }

    .bottom-part {
        padding: 20px;
        display: flex;
        justify-content: space-between;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

        @media (max-width: $tablet) {
            padding: 15px 10px;
            flex-direction: column;
        }
    }

    .details__wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: left;
        justify-content: center;

        @media (max-width: $tablet) {
            gap: 10px;
        }

        h2 {
            font-size: 22px;
            font-weight: var(--weight-regular);
            letter-spacing: 0.3px;
            margin-block: 0;

            @media (max-width: $tablet) {
                font-size: 20px;
                letter-spacing: 0;
            }
        }
    }

    .details {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .introduction__wrapper {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: left;
        padding-inline-start: 20px;

        @media (max-width: $tablet) {
            gap: 5px;
            padding-inline-start: 0;
            padding-block-end: 10px;
        }
    }

    .details__row,
    .introduction,
    .comments {
        font-size: 16px;
        font-weight: var(--weight-regular);
        letter-spacing: 0.5px;
        margin-block: 0;
        display: grid;
        grid-template-columns: 67px auto;

        @media (max-width: $tablet) {
            letter-spacing: 0;
        }
    }

    .details__row {
        gap: 20px;
    }

    .introduction,
    .comments {
        gap: 20px;

        @media (max-width: $tablet) {
            gap: 10px;
        }
    }

    .details__title,
    .introduction__title,
    .comments__title {
        color: var(--septenary-color);
        display: flex;
        justify-content: space-between;
    }

    .share {
        padding-inline-start: 20px;
        display: flex;
        gap: 12px;
        align-items: center;
        border-left: 1px solid var(--senary-color);

        @media (max-width: $tablet) {
            justify-content: center;
            padding-inline-start: 0;
            padding-block-start: 15px;
            border-left: none;
            border-top: 1px solid var(--senary-color);
        }

        svg g path {
            transition: fill 0.3s ease;
        }
    }

    .share--fb,
    .share--line,
    .share--link {
        display: flex;
        transition: all 0.3s ease;
    }

    .share--fb:hover svg g path {
        fill: #3b5998;
    }

    .share--line:hover svg g path:not(#Path_16340) {
        fill: #4bbc79;
    }

    .share--link:hover svg g {
        path {
            fill: var(--septenary-color);
        }

        g path {
            fill: white;
        }
    }

    .share--link {
        cursor: pointer;
        border-width: 0;
        background-color: transparent;
        padding: 0;
    }
}
