.registration-area {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--tertiary-color);
        z-index: -1;
    }

    @media (max-width: $tablet) {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .next {
        margin-block: 30px;
        border-radius: 50px;
        border-width: 1px;
        border-color: var(--primary-color);
        background-color: white;
        color: var(--primary-color);
        padding: 7px 20px;
        display: flex;
        gap: 10px;
        align-items: center;
        font-size: 18px;
        font-weight: var(--weight-regular);
        letter-spacing: 0.3px;

        @media (max-width: $tablet) {
            font-size: 16px;
        }

        svg path {
            transition: all 0.3s ease-in-out;
        }

        &:hover {
            border-color: var(--septenary-color);
            color: var(--septenary-color);

            svg path {
                stroke: var(--septenary-color);
            }
        }
    }
}

.registration__wrapper {
    max-width: 800px;
    width: 100%;
    display: flex;
    flex-direction: column;

    @media (max-width: $tablet) {
        width: calc(100% - 40px);
    }

    .line {
        width: 100%;
        height: 21px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            height: 0;
            border-bottom: 1px dashed var(--septenary-color);
        }
    }

    p,
    li {
        font-size: 18px;
        font-weight: var(--weight-regular);
        letter-spacing: 0.3px;
        text-align: left;

        @media (max-width: $tablet) {
            font-size: 16px;
            letter-spacing: 0.2px;
        }
    }

    p {
        margin-block: 0;

        &.blue {
            color: var(--primary-color);
        }

        &.bold {
            font-weight: var(--weight-bold);
        }
    }

    ul {
        list-style: none;
        margin-block: 0;
        padding-inline-start: 0;
    }

    li {
        margin-bottom: 10px;

        &::before {
            content: attr(data-order);
            margin-right: 4px;
        }

        &:has(.file)::before {
            margin-right: 2px;
            position: relative;
            top: -5px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        .example {
            font-size: 14px;

            @media (max-width: $tablet) {
                letter-spacing: 0.4px;
            }
        }

        &:has(.example) {
            display: flex;
            flex-direction: column;
            gap: 2px;
            width: calc(100% - 27px);
            position: relative;
            left: 27px;

            &::before {
                position: absolute;
                left: -27px;
            }
        }
    }

    .file {
        width: fit-content;
        display: inline-grid;
        grid-template-columns: 15px auto;
        gap: 10px;
        align-items: center;
        padding: 4px 10px;
        border-color: var(--primary-color);
        border-width: 1px;
        border-radius: 5px;
        background-color: var(--primary-color);
        color: white;
        font-size: 16px;
        font-weight: var(--weight-regular);
        letter-spacing: 0.3px;
        text-align: left;

        &:hover {
            background-color: var(--septenary-color);
            border-color: var(--septenary-color);
        }
    }

    .mb-10 {
        margin-bottom: 10px;
    }

    .mb-20 {
        margin-bottom: 20px;
    }
}

.tour {
    --color1: #ea7564;
    --color2: #349256;
    --color3: #30b4c0;
    --color4: #936faf;

    margin-block: 60px 60px;
    width: 100%;
    max-width: 840px;
    display: flex;
    justify-content: space-between;

    @media (max-width: $tablet) {
        margin-block-start: 15px;
        max-width: 280px;
        flex-wrap: wrap;
        gap: 40px;
    }

    &-item {
        display: flex;
        width: 110px;
        height: 110px;
        border-radius: 50%;
        border: 5px solid white;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
        position: relative;
        transition: all 0.3s ease-in-out;

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &1 {
            background-color: var(--color1);
        }

        &2 {
            background-color: var(--color2);
        }

        &3 {
            background-color: var(--color3);
        }

        &4 {
            background-color: var(--color4);
        }
    }

    .arrow {
        width: 20px;
        height: 20px;
        position: relative;
        border-radius: 50%;
        transition: all 0.3s ease-in-out;

        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        color: #000;
        font-size: 22px;
        font-weight: var(--weight-regular);
        letter-spacing: 3px;
        position: relative;

        @media (max-width: $tablet) {
            font-size: 20px;
            letter-spacing: 2px;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: -50%;
            transform: translateX(50%);
            width: 1px;
            height: 100%;
            background-color: var(--senary-color);

            @media (max-width: $tablet) {
                content: none;
            }
        }

        &:last-child::after {
            content: none;
        }

        &:has(.tour-item1) .arrow {
            background-color: var(--color1);
        }

        &:has(.tour-item2) .arrow {
            background-color: var(--color2);
        }

        &:has(.tour-item3) .arrow {
            background-color: var(--color3);
        }

        &:has(.tour-item4) .arrow {
            background-color: var(--color4);
        }

        &:hover {
            .tour-item,
            .arrow {
                background-color: var(--septenary-color);
            }
        }
    }
}
