@import "@splidejs/splide/css";

.splide__pagination {
    z-index: 0;
}

.splide__arrow {
    width: 50px;
    height: 50px;
    opacity: 1;
    transition: all 0.3s ease-in-out;

    svg {
        width: 20px;
        height: 20px;
    }

    &:hover {
        &:not(:disabled) {
            opacity: 1;
        }
    }
}

.splide-banner {
    width: 100%;

    @media (max-width: $desktop) {
        max-width: 100%;
    }

    .splide__track {
        cursor: grab;
    }

    .splide__bg {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        filter: blur(100px);
    }

    div.splide__bg {
        width: 100%;
        height: 100%;
        aspect-ratio: 1280/600;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: var(--bg-img);

        @media (max-width: $tablet) {
            background-image: none;
        }
    }

    img.splide__bg {
        @media (max-width: $tablet) {
            width: 0;
            height: 0;
        }
    }

    .splide__slide img {
        max-width: 100%;
        height: 100%;
        aspect-ratio: 1280/600;
        object-fit: cover;
    }

    .splide__arrow {
        background: transparent;
        border: 1px solid transparent;

        &:hover {
            border: 1px solid var(--primary-color);
        }

        svg {
            path {
                fill: var(--primary-color);
            }
        }

        &--prev {
            left: 7%;

            @media (max-width: $desktop) {
                left: 1em;
            }
        }

        &--next {
            right: 7%;

            @media (max-width: $desktop) {
                right: 1em;
            }
        }
    }

    .splide__pagination__page {
        width: 10px;
        height: 10px;
        background: #f8f8f8;
        opacity: 1;
        box-shadow: 0 0 4px 0px #f0f0f0,
            inset 0 0 6px -1px rgba($color: #000, $alpha: 0.1);

        &.is-active {
            transform: none;
            background: var(--primary-color);
            opacity: 1;
        }
    }
}

.splide-news,
.splide-guide {
    margin: 0 auto;

    .splide__track {
        cursor: grab;

        @media (max-width: $tablet) {
            cursor: auto;
        }
    }

    .splide__slide {
        padding: 5px;
    }

    .splide__arrow {
        background: white;
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);

        svg {
            path {
                fill: var(--secondary-color);
            }
        }

        &:hover {
            svg path {
                fill: var(--primary-color);
            }
        }
    }
}

.splide-news {
    max-width: 1260px;
    margin-bottom: 15px;

    @media (max-width: $desktop) {
        max-width: calc(100% - 30px);
    }

    @media (max-width: $tablet) {
        max-width: 100%;
        margin-inline: 20px;
    }

    .splide__slide {
        @media (max-width: $tablet) {
            padding: 10px;
            border-bottom: 1px dashed var(--senary-color);
        }

        &:first-child {
            @media (max-width: $tablet) {
                padding-block-start: 0;
            }
        }

        &:last-child {
            @media (max-width: $tablet) {
                padding-block-end: 0;
                border-bottom: none;
            }
        }
    }

    .common-card__card {
        @media (max-width: $tablet) {
            border-radius: 0;
            box-shadow: none;
        }

        &:hover {
            @media (max-width: $tablet) {
                box-shadow: none;
            }
        }
    }

    .common-card__card--img {
        width: 290px;
        height: 240px;

        @media (max-width: $tablet) {
            display: none;
        }
    }

    .common-card__card--text {
        padding-inline: 20px;

        @media (max-width: $tablet) {
            padding-inline: 0;
            padding-block: 0;
            min-height: auto;
        }

        h3 {
            @media (max-width: $tablet) {
                margin-block-end: 0;
                letter-spacing: 0.2px;
            }
        }
    }

    .splide__arrow {
        &--prev {
            left: -10px;
        }

        &--next {
            right: -10px;
        }
    }
}

.splide-guide {
    max-width: 1240px;
    margin-bottom: 15px;

    @media (max-width: $desktop) {
        max-width: calc(100% - 30px);
    }

    @media (max-width: $tablet) {
        max-width: 100%;
        margin-inline: 15px;
    }

    .common-card__card--img {
        width: 180px;
        height: 250px;

        @media (max-width: $tablet) {
            width: 155px;
            height: 215px;
        }
    }

    .common-card__card--text {
        padding-inline: 10px;
    }

    .splide__arrow {
        &--prev {
            left: -20px;

            @media (max-width: $desktop) {
                left: -10px;
            }
        }

        &--next {
            right: -20px;

            @media (max-width: $desktop) {
                right: -10px;
            }
        }
    }
}

.splide-signup {
    width: fit-content;
    padding-inline: 20px;
    margin-bottom: 20px;
    z-index: 0;

    .splide__list {
        background-color: white;
        border-radius: 20px;
    }

    .splide__slide {
        padding: 8px 10px;
        background-color: white;
        color: var(--septenary-color);
        font-size: 16px;
        font-weight: var(--weight-medium);
        letter-spacing: 0.5px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        @media (max-width: $tablet) {
            font-weight: var(--weight-regular);
        }

        &:first-child {
            border-radius: 20px 0 0 20px;
        }

        &:last-child {
            border-radius: 0 20px 20px 0;
        }

        &:hover {
            color: var(--primary-color);
        }

        &.is-active {
            background-color: var(--primary-color);
            color: white;
        }
    }
}

.splide-aside {
    .splide__track {
        @media (max-width: $tablet) {
            overflow: hidden;
        }
    }

    .splide__list {
        padding-inline-start: 0;
        margin-block: 0;
    }
}

.splide-activities {
    padding-inline: 20px;
    margin-bottom: 40px;

    @media (max-width: $tablet) {
        padding-inline: 0;
        margin-bottom: 10px;
    }
}
