---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import "../styles/title.scss";
import "../styles/rewarded-questions.scss";
---

<Layout title="活動辦法">
    <main>
        <div class="container breadcrumb">
            <nav>
                <a href="/">首頁</a> / <a href="/method">有獎徵答</a> / <a
                    href="/method">活動辦法</a
                >
            </nav>
        </div>

        <div class="container">
            <Title title={["活動辦法"]} classname="method" />

            <div class="method">
                {/*可在class添加"mt-10"、"mt-20"更改"margin-top"*/}
                <img
                    src="https://placehold.co/1280x300"
                    alt="活動辦法 圖片"
                    width="1280"
                    height="300"
                    class="method__banner"
                />

                <ul class="method__content">
                    <li>
                        <span class="method__title method__title--block"
                            >活動說明：</span
                        >
                        為鼓勵出版業者提升中小學生讀物品質，文化部每年辦理「中小學生讀物選介」，邀請專業評審選出超過600種以上的推薦讀物，並於其中選出70本精心推薦的「精選之星」。今年邀請其中3位評審委員作為閱讀領航員、撰寫「讀之冒險」文章，配合辦理有獎<br
                        />

                        <a href="#" class="method__link--block link-underline"
                            >官網抽獎活動</a
                        ><br />
                        <a href="#" class="mt-10 link-underline">FB抽奬活動</a
                        ><br />
                        <a href="#" class="mt-10 link-underline"
                            >立即點擊看本屆70本精選之星</a
                        ><br />
                        <a href="#" class="mt-10 link-underline">立即閱讀文章</a
                        >
                    </li>

                    <li>
                        <span class="method__title">活動期間：</span
                        >112年10月6日(五)起至11月5日(日)24:00止。
                    </li>

                    <li>
                        <span class="method__title">參加對象：</span
                        >具中華民國國籍，居住地為我國「臺、澎、金、馬」地區之民眾皆可參加。
                    </li>

                    <li>
                        <span class="method__title method__title--block"
                            >活動辦法：</span
                        >
                        觀看閱讀文章<a
                            href="#"
                            class="method__link--inline link-underline"
                            >「閱讀啟程」</a
                        >後，於活動頁面回答問題，或於FB下方按讚＋分享+tag
                        1位朋友，並留言說出「讀之冒險」獲選書中最喜歡的一本好書，就能參加抽獎！

                        <ul class="list-step mt-20">
                            <li data-order="STEP 1">
                                點選<a
                                    href="#"
                                    class="method__link--inline link-underline"
                                    >「我要參加」</a
                                >進入活動頁面。
                            </li>

                            <li data-order="STEP 2">
                                填寫完基本資料後，點選<span class="text-blue"
                                    >「送出資料，成為讀之冒險隊員」</span
                                >即可進入答題關卡。
                            </li>

                            <li data-order="STEP 3">
                                觀看活動頁面提供的精選之星手冊及閱讀領航員文章後，於選單中進行答題並點選<span
                                    class="text-blue">「送出」</span
                                >，即獲得抽獎資格。
                            </li>
                        </ul>

                        <div class="method-box">
                            <Title
                                title={["學校團體獎"]}
                                classname="method-box"
                            />

                            <ol>
                                <li>
                                    除個人獎項外，學校教師自行規劃辦理校園閱讀推廣活動，帶領學生閱讀選書與相關好文、參與答題，並於112年11月5日(日)前<a
                                        href="#"
                                        class="method__link--inline link-underline"
                                        >填寫閱讀推廣成果表單</a
                                    >，即可參加「愛書團體獎」。
                                    <p>
                                        ※因需上傳活動照片，表單需登入google才可填寫，若無帳號，請將以下資料直接寄至官方信箱（book.service@moc.gov.tw），標題註明【學校名稱_參加中小學生有獎徵答活動】<br
                                        />
                                        ➀ 聯絡人姓名、電話<br />
                                        ② 推廣成果(例如辦理方式、場次、參與班級數或人次，約200字)<br
                                        />
                                        ③ 2-3張照片(檔名請設定為學校名稱+編號)
                                    </p>
                                </li>

                                <li>
                                    就前述獲得參加資格之學校，依答題者（身份為學生或教師）基本資料中填寫之學校名稱，累計得出參與人數最多的前20所學校，該校即可獲得「愛書團體獎」之獎品及文化部獎狀。
                                    <p>
                                        ※國小取前10名、國中高中各取前5名，共20名（其中並提供4所之偏遠學校保障名額）
                                    </p>
                                </li>
                            </ol>
                        </div>

                        <ul class="list-step">
                            <li data-order="STEP 1">
                                點選<a
                                    href="#"
                                    class="method__link--inline link-underline"
                                    >「我要參加」</a
                                >進入活動頁面。
                            </li>

                            <li data-order="STEP 2">
                                填寫完基本資料後，點選<span class="text-blue"
                                    >「送出資料，成為讀之冒險隊員」</span
                                >即可進入答題關卡。
                            </li>

                            <li data-order="STEP 3">
                                觀看活動頁面提供的精選之星手冊及閱讀領航員文章後，於選單中進行答題並點選<span
                                    class="text-blue">「送出」</span
                                >，即獲得抽獎資格。
                            </li>
                        </ul>
                    </li>

                    <li>
                        <span class="method__title method__title--block"
                            >抽獎及公告：</span
                        >
                        <ol>
                            <li>
                                以電腦隨機抽樣得獎名單(含候補得獎名單)。活動官網、FB分開抽獎，每位參加者每種活動各限得獎一次。
                            </li>
                            <li>
                                抽獎結果將於2023年11月17日(五)以前公佈於活動網站及FB。
                            </li>
                        </ol>
                    </li>

                    <li>
                        <span class="method__title method__title--block"
                            >兌獎方式：</span
                        >
                        <ol>
                            <li>
                                以參加者填寫之電子郵件或聯絡電話通知，並以電子郵件寄送簽收單。
                            </li>
                            <li>
                                FB抽獎：以訊息寄發通知信(請注意收件匣與其它)，請得獎者於期限內主動來信客服信箱
                                （book.service@moc.gov.tw）
                                ，信件主旨請寫「有獎徵答活動得獎者」並提供以下資料，將以電子郵件寄送簽收單。<br
                                />
                                ➀ FB暱稱。<br />
                                ② 電子郵件地址。<br />
                                ③ 真實姓名。<br />
                                ④ 聯絡電話。<br />
                                ⑤ 收件地址。
                            </li>
                            <li>
                                符合參加者資格之得獎人，需於得獎名單公布後7天內，以掛號郵寄或Email將完整資料之「簽收單」及中獎人「身分證正反面影本」，回傳承辦單位驗證。如未於期限內寄回簽收資料，則視同放棄且喪失中獎資格，亦不另行公告。
                            </li>
                            <li>
                                愛書團體獎」由該校圖書館（閱覽室）或其直屬主管單位代表校方領獎。
                            </li>
                            <li>
                                獎品將於收到得獎人驗證資料後，一個月內寄出。
                            </li>
                            <li>
                                以簡訊或Email通知得獎人電子禮物卡之兌換序號後，逾6個月仍未兌換，將喪失兌換資格。
                            </li>
                        </ol>
                    </li>

                    <li>
                        <span class="method__title method__title--block"
                            >注意事項：</span
                        >
                        <ol>
                            <li>
                                為使活動符合公平原則，每人限一個帳號只能答題一次。
                            </li>
                            <li>
                                本活動網站所收集之個人資料，按中華民國「個人資料保護法」規定之。
                            </li>
                            <li>
                                3.依中華民國稅法規定，獎項金額如超過新台幣$1,000，獎項所得將列入個人年度所得稅申報。
                            </li>
                            <li>
                                參加者請務必詳細填寫完整的正確資料，以免無法通知中獎人或導致獎品無法寄送。承辦單位將依中獎名單審核參加者資格。若審核資料不符，承辦單位將不另行通知。
                            </li>
                            <li>
                                本活動獎品寄送，如因郵寄過程遺失或損壞時，不另行補發或更換獎品。
                            </li>
                            <li>
                                獎項不得兌換現金，主辦單位保留更改活動之權利。
                            </li>
                        </ol>
                    </li>
                </ul>
            </div>
        </div>
    </main>
</Layout>
