---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import "../styles/title.scss";
import "../styles/rewarded-questions.scss";
---

<Layout title="得獎名單">
    <main>
        <div class="container breadcrumb">
            <nav>
                <a href="/">首頁</a> / <a href="/method">有獎徵答</a> / <a
                    href="/winners">得獎名單</a
                >
            </nav>
        </div>

        <div class="container">
            <Title title={["得獎名單"]} classname="winners" />

            <div class="winners">
                <img
                    src="https://placehold.co/1280x300"
                    alt="得獎名單 圖片"
                    width="1280"
                    height="300"
                    class="winners__banner"
                />

                <div class="top-part">
                    <h3>5,000元博客來電子書禮券 2名 (姓名/手機末三碼)</h3>

                    <ul>
                        <li>陳*喬 256</li>
                        <li>王*宣 345</li>
                    </ul>
                </div>

                <div class="bottom-part">
                    <h3>2,000元博客來電子書禮券 5名 (姓名/手機末三碼)</h3>

                    <ul>
                        <li>包*蓉 875</li>
                        <li>揚*墉 425</li>
                        <li>曾*林 600</li>
                        <li>徐*錦 168</li>
                        <li>郭*雪 868</li>
                    </ul>
                </div>
            </div>
        </div>
    </main>
</Layout>
