---
interface Props {
    type: string;
}

const { type } = Astro.props;
---

{
    type === "entity" && (
        <div class="entity-card">
            <img src="https://placehold.co/585x160" alt="線上活動" width="585" height="160" />
            <div class="entity-card__title">
                <span>主題</span>
                <h3>臺南市安南區土城圖書館《文化部第43次中小學生讀物選介》主題書展</h3>
            </div>
            <div class="entity-card__detail">
                <p class="entity-card__time ended">2021年11月3日～11月30日<span class="entity-card__ended">※活動已結束</span></p>
                <p class="entity-card__location">臺南市安南區土城圖書館（709台南市安南區城安路85號）</p>
            </div>
        </div>

        <div class="entity-card">
            <img src="https://placehold.co/585x160" alt="線上活動" width="585" height="160" />
            <div class="entity-card__title">
                <span>主題</span>
                <h3>雲林縣土庫鎮立圖書館馬光分館 《第43次中小學生讀物選介》主題書展</h3>
            </div>
            <div class="entity-card__detail">
                <p class="entity-card__time">2021年10月6日～11月7日<span class="entity-card__ended">※活動已結束</span></p>
                <p class="entity-card__location">雲林縣土庫鎮立圖書館馬光分館（633雲林縣土庫鎮民權路43-1號）</p>
            </div>
        </div>

        <div class="entity-card">
            <img src="https://placehold.co/585x160" alt="線上活動" width="585" height="160" />
            <div class="entity-card__title">
                <span>主題</span>
                <h3>小兔子書坊 一起陪孩子探尋好書</h3>
            </div>
            <div class="entity-card__detail">
                <p class="entity-card__time ended">2021年10月2日～10月30日<span class="entity-card__ended">※活動已結束</span></p>
                <p class="entity-card__location">小兔子書坊（324桃園市平鎮區民族路二段193巷15弄61號）</p>
            </div>
        </div>
    )
}

{
    type === "online" && (
        <div class="online-card">
            <img src="https://placehold.co/290x240" alt="實體活動" width="290" height="240" />
            <div class="online-card__title">
                <h3>【讀之冒險】第45次中小學生讀物選介書展7折起</h3>
            </div>
            <div class="online-card__detail">
                <p class="online-card__time">2023年9月1日(五)～10月15日(日)</p>
            </div>
        </div>
    )
}

{
    type === "review" && (
        <div class="review-card">
            <img src="https://placehold.co/585x160" alt="精彩回顧" width="585" height="160" />
            <div class="review-card__title">
                <span>主題</span>
                <h3>雲林縣土庫鎮立圖書館馬光分館 《第43次中小學生讀物選介》主題書展</h3>
            </div>
            <div class="review-card__detail">
                <p class="review-card__time ended">2021年10月6日～11月7日<span class="review-card__ended">※活動已結束</span></p>
                <p class="review-card__location">雲林縣土庫鎮立圖書館馬光分館（633雲林縣土庫鎮民權路43-1號）</p>
            </div>
        </div>

        <div class="review-card">
            <img src="https://placehold.co/585x160" alt="精彩回顧" width="585" height="160" />
            <div class="review-card__title">
                <h3>臺南市安南區土城圖書館《文化部第43次中小學生讀物選介》主題書展</h3>
            </div>
            <div class="review-card__detail">
                <p class="review-card__time">2021年11月3日～11月30日</p>
            </div>
        </div>

        <div class="review-card">
            <img src="https://placehold.co/585x160" alt="精彩回顧" width="585" height="160" />
            <div class="review-card__title">
                <span>主題</span>
                <h3>小兔子書坊 一起陪孩子探尋好書</h3>
            </div>
            <div class="review-card__detail">
                <p class="review-card__time">2021年10月2日～10月30日<span class="review-card__ended">※活動已結束</span></p>
                <p class="review-card__location">小兔子書坊（324桃園市平鎮區民族路二段193巷15弄61號）</p>
            </div>
        </div>
    )
}