---

---

<a
    href="#"
    class="common-card__card"
    aria-label="《做伙來踅大稻埕》台文繪本套書(《大稻埕動物園》台文繪本+《大稻埕ê山珍海味》台文迷你圖鑑)"
>
    <div class="common-card__card--img">
        <img
            src="https://placehold.co/180x250"
            alt="《做伙來踅大稻埕》台文繪本套書 圖片"
            width="180"
            height="250"
            loading="lazy"
        />
        <span>圖畫書類</span>
    </div>
    <div class="common-card__card--text">
        <h3>
            《做伙來踅大稻埕》台文繪本套書(《大稻埕動物園》台文繪本+《大稻埕ê山珍海味》台文迷你圖鑑)
        </h3>
        <p>《大稻埕動物園》圖文：林小杯 /《大稻埕ê山珍海味》圖：吳睿哲</p>
    </div>
</a>
