---

---

<header>
    <div class="upper-part container">
        <a class="logo" href="#">
            <img
                src="/logo.png"
                alt="中小學生讀物選介-logo"
                width="240"
                height="60"
            />
        </a>

        <ul class="note-pc">
            <li><a href="/">首頁</a></li>
            <li><a href="/news">最新消息</a></li>
            <li><a href="/contact">聯絡我們</a></li>
        </ul>

        <div class="search-toggle">
            <svg
                class="search-icon"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="22"
                height="22"
                viewBox="0 0 22 22"
            >
                <g id="Group_11208" data-name="Group 11208">
                    <path
                        id="Path_16149"
                        data-name="Path 16149"
                        d="M22,21.095l-7.33-7.263A8.411,8.411,0,0,0,8.325,0a8.4,8.4,0,0,0,0,16.806,8.247,8.247,0,0,0,5.459-2.075L21.113,22l.88-.905ZM8.325,15.538a7.135,7.135,0,0,1,0-14.269,7.135,7.135,0,0,1,0,14.269"
                        fill="#7e7e7e"></path>
                </g>
            </svg>

            <svg
                class="close-icon hidden"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="22"
                height="22"
                viewBox="0 0 22 22"
            >
                <g
                    id="Group_11490"
                    data-name="Group 11490"
                    transform="translate(0 0)"
                >
                    <g
                        id="Group_11486"
                        data-name="Group 11486"
                        transform="translate(0 0)"
                    >
                        <path
                            id="Path_16324"
                            data-name="Path 16324"
                            d="M21.184,21.947a.853.853,0,0,1-.605-.25L.344,1.461A.856.856,0,0,1,1.554.251L21.79,20.486a.856.856,0,0,1-.605,1.461"
                            transform="translate(-0.04 0)"
                            fill="#7e7e7e"></path>
                        <path
                            id="Path_16325"
                            data-name="Path 16325"
                            d="M.856,22.04a.856.856,0,0,1-.605-1.461L20.486.344a.856.856,0,0,1,1.21,1.21L1.461,21.79a.853.853,0,0,1-.605.25"
                            transform="translate(0 -0.04)"
                            fill="#7e7e7e"></path>
                    </g>
                </g>
            </svg>
        </div>

        <div class="search">
            <form action="" method="">
                <input type="text" placeholder="搜尋" />
                <button type="submit">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink"
                        width="22"
                        height="22"
                        viewBox="0 0 22 22"
                    >
                        <g id="Group_11208" data-name="Group 11208">
                            <path
                                id="Path_16149"
                                data-name="Path 16149"
                                d="M22,21.095l-7.33-7.263A8.411,8.411,0,0,0,8.325,0a8.4,8.4,0,0,0,0,16.806,8.247,8.247,0,0,0,5.459-2.075L21.113,22l.88-.905ZM8.325,15.538a7.135,7.135,0,0,1,0-14.269,7.135,7.135,0,0,1,0,14.269"
                                fill="#7e7e7e"></path>
                        </g>
                    </svg>
                </button>
            </form>
        </div>

        <a href="#" class="facebook">
            <svg
                id="fb-m"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                width="22"
                height="22"
                viewBox="0 0 22 22"
            >
                <g id="Group_11329" data-name="Group 11329">
                    <path
                        id="Path_16307"
                        data-name="Path 16307"
                        d="M10.183.03A11,11,0,1,0,21.962,10.123,10.983,10.983,0,0,0,10.183.03m1.852,7.157c-.008.737-.021,1.565-.033,2.339a17.674,17.674,0,0,1,2.635.051c.056.247-.388,2.222-.48,2.792l-2.212.013v6.912H9S8.92,12.361,8.92,12.36l-2.536-.011L6.423,9.6,8.942,9.6l.022-2.569c.192-3.33,2.663-3.284,5.726-3.113l.013,2.32c-.926.032-2.674-.12-2.669.954"
                        transform="translate(0 0)"
                        fill="#7e7e7e"
                        fill-rule="evenodd"></path>
                </g>
            </svg>
        </a>

        <svg
            class="menu-icon"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="22"
            height="17.217"
            viewBox="0 0 22 17.217"
        >
            <g id="漢堡">
                <path
                    id="Path_16326"
                    data-name="Path 16326"
                    d="M21.043,1.913H.957A.957.957,0,0,1,.957,0H21.043a.957.957,0,1,1,0,1.913"
                    fill="#7e7e7e"></path>
                <path
                    id="Path_16327"
                    data-name="Path 16327"
                    d="M21.043,17.913H.957A.957.957,0,0,1,.957,16H21.043a.957.957,0,0,1,0,1.913"
                    transform="translate(0 -8.348)"
                    fill="#7e7e7e"></path>
                <path
                    id="Path_16328"
                    data-name="Path 16328"
                    d="M21.043,33.913H.957A.957.957,0,0,1,.957,32H21.043a.957.957,0,1,1,0,1.913"
                    transform="translate(0 -16.696)"
                    fill="#7e7e7e"></path>
            </g>
        </svg>
    </div>

    <div class="mask"></div>

    <nav>
        <svg
            class="close-icon"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="22"
            height="22"
            viewBox="0 0 22 22"
        >
            <g
                id="Group_11490"
                data-name="Group 11490"
                transform="translate(0 0)"
            >
                <g
                    id="Group_11486"
                    data-name="Group 11486"
                    transform="translate(0 0)"
                >
                    <path
                        id="Path_16324"
                        data-name="Path 16324"
                        d="M21.184,21.947a.853.853,0,0,1-.605-.25L.344,1.461A.856.856,0,0,1,1.554.251L21.79,20.486a.856.856,0,0,1-.605,1.461"
                        transform="translate(-0.04 0)"
                        fill="#7e7e7e"></path>
                    <path
                        id="Path_16325"
                        data-name="Path 16325"
                        d="M.856,22.04a.856.856,0,0,1-.605-1.461L20.486.344a.856.856,0,0,1,1.21,1.21L1.461,21.79a.853.853,0,0,1-.605.25"
                        transform="translate(0 -0.04)"
                        fill="#7e7e7e"></path>
                </g>
            </g>
        </svg>

        <a class="note-m" href="/">首頁</a>
        <a class="note-m" href="/contact">聯絡我們</a>

        <div class="nav-list">
            <div class="nav-title">
                <div><span>最新消息</span></div>

                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="9.061"
                    viewBox="0 0 16 9.061"
                >
                    <path
                        id="Path_286"
                        data-name="Path 286"
                        d="M.4,0,0,.438,7.815,8.061,15,.438l-.4-.4L7.8,7.22Z"
                        transform="translate(0.5 0.5)"
                        fill="#7e7e7e"
                        stroke="#7e7e7e"
                        stroke-linejoin="round"
                        stroke-width="1"></path>
                </svg>
            </div>

            <ul>
                <li><a href="#">關於我們</a></li>
                <li><a href="/news">最新消息</a></li>
            </ul>
        </div>

        <div class="nav-list">
            <div class="nav-title">
                <div><span>報名專區</span></div>

                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="9.061"
                    viewBox="0 0 16 9.061"
                >
                    <path
                        id="Path_286"
                        data-name="Path 286"
                        d="M.4,0,0,.438,7.815,8.061,15,.438l-.4-.4L7.8,7.22Z"
                        transform="translate(0.5 0.5)"
                        fill="#7e7e7e"
                        stroke="#7e7e7e"
                        stroke-linejoin="round"
                        stroke-width="1"></path>
                </svg>
            </div>

            <ul>
                <li><a href="/brochure">活動簡章</a></li>
                <li><a href="#">線上報名</a></li>
                <li><a href="#">表單下載</a></li>
                <li><a href="/qa">常見問答</a></li>
            </ul>
        </div>

        <div class="nav-list">
            <div class="nav-title">
                <div><span>選書指南</span></div>

                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="9.061"
                    viewBox="0 0 16 9.061"
                >
                    <path
                        id="Path_286"
                        data-name="Path 286"
                        d="M.4,0,0,.438,7.815,8.061,15,.438l-.4-.4L7.8,7.22Z"
                        transform="translate(0.5 0.5)"
                        fill="#7e7e7e"
                        stroke="#7e7e7e"
                        stroke-linejoin="round"
                        stroke-width="1"></path>
                </svg>
            </div>

            <ul>
                <li><a href="/books">當屆獲選書單</a></li>
                <li><a href="#">當屆精選之星</a></li>
                <li><a href="/selection">當屆評審報告</a></li>
                <li><a href="/recommend">歷屆推薦</a></li>
                <li><a href="/mark">獲選標章</a></li>
            </ul>
        </div>

        <div class="nav-list">
            <div class="nav-title">
                <div><span>有獎徵答</span></div>

                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="9.061"
                    viewBox="0 0 16 9.061"
                >
                    <path
                        id="Path_286"
                        data-name="Path 286"
                        d="M.4,0,0,.438,7.815,8.061,15,.438l-.4-.4L7.8,7.22Z"
                        transform="translate(0.5 0.5)"
                        fill="#7e7e7e"
                        stroke="#7e7e7e"
                        stroke-linejoin="round"
                        stroke-width="1"></path>
                </svg>
            </div>

            <ul>
                <li><a href="/method">活動辦法</a></li>
                <li><a href="/join">我要參加</a></li>
                <li><a href="/winners">得獎名單</a></li>
            </ul>
        </div>

        <div class="nav-list">
            <div class="nav-title">
                <div><span>主題活動</span></div>

                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="9.061"
                    viewBox="0 0 16 9.061"
                >
                    <path
                        id="Path_286"
                        data-name="Path 286"
                        d="M.4,0,0,.438,7.815,8.061,15,.438l-.4-.4L7.8,7.22Z"
                        transform="translate(0.5 0.5)"
                        fill="#7e7e7e"
                        stroke="#7e7e7e"
                        stroke-linejoin="round"
                        stroke-width="1"></path>
                </svg>
            </div>

            <ul>
                <li><a href="/online">線上活動</a></li>
                <li><a href="/entity">實體活動</a></li>
                <li><a href="/review">精彩回顧</a></li>
            </ul>
        </div>
    </nav>
</header>

<style is:global lang="scss">
    header {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid var(--senary-color);
        position: relative;
        //position: sticky;
        //top: 0;
        z-index: 2;

        .mask {
            visibility: hidden;
            opacity: 0;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0.4);
            transition: all 0.3s ease;

            &.open {
                @media (max-width: $tablet) {
                    visibility: visible;
                    opacity: 1;
                    z-index: 0;
                    transition: all 0.3s ease;
                }
            }
        }
    }

    .upper-part {
        display: flex;
        align-items: center;
        padding-block: 30px 20px;
        gap: 20px;
        position: relative;

        @media (max-width: $tablet) {
            gap: 10px;
            padding-block: 20px 15px;
        }

        .logo {
            display: flex;

            @media (max-width: $desktop) {
                margin-left: 20px;
            }

            img {
                @media (max-width: $tablet) {
                    width: 152px;
                    height: 38px;
                }
            }
        }

        ul {
            display: flex;
            list-style-type: none;
            margin-left: auto;

            @media (max-width: $tablet) {
                display: none;
            }

            li {
                position: relative;
            }

            li a {
                color: var(--septenary-color);
                font-size: 13px;
                font-weight: var(--weight-light);
                letter-spacing: 2px;
            }

            li:not(:last-child) {
                margin-right: 25px;
            }

            li:not(:last-child)::after {
                content: "";
                position: absolute;
                top: 50%;
                right: -12px;
                transform: translateY(-50%);
                width: 1px;
                height: 11px;
                background-color: var(--septenary-color);
            }

            li a:hover {
                color: var(--septenary-color);
                text-decoration: underline;
                text-underline-offset: 4px;
            }
        }

        .search-toggle {
            display: none;
            margin-left: auto;

            @media (max-width: $tablet) {
                display: flex;
            }

            svg {
                cursor: pointer;
            }

            .close-icon {
                @media (max-width: $tablet) {
                    display: none;
                }

                &.open {
                    @media (max-width: $tablet) {
                        display: block;
                    }
                }
            }

            .search-icon {
                &.hidden {
                    @media (max-width: $tablet) {
                        display: none;
                    }
                }
            }
        }

        .search {
            @media (max-width: $tablet) {
                display: none;
                position: absolute;
                top: 73px;
                left: 0;
                width: calc(100% - 40px);
                background-color: white;
                padding-inline: 20px;
                padding-bottom: 12px;
                box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.05);
            }

            form {
                display: flex;
                justify-content: space-between;
                border: 1px solid var(--senary-color);
                border-radius: 25px;
                padding-block: 9px;
                padding-inline: 10px 15px;
                width: calc(300px - 27px);
                background-color: white;

                @media (max-width: $tablet) {
                    padding-block: 7px;
                    width: calc(100% - 27px);
                }
            }

            input {
                border: 0;
                outline: 0;
                background-color: transparent;
                font-size: 16px;
                font-weight: var(--weight-light);
                width: calc(100% - 27px);
                padding: 0;

                &::placeholder {
                    color: var(--septenary-color);
                }
            }

            button {
                display: inline-flex;
                padding: 0;
                border: 0;
                background-color: transparent;
                cursor: pointer;

                svg {
                    width: 20px;
                    height: 20px;
                }
            }

            &.open {
                @media (max-width: $tablet) {
                    display: block;
                }
            }
        }

        .facebook {
            display: flex;
            width: 25px;
            height: 25px;

            @media (max-width: $desktop) {
                margin-right: 20px;
            }

            @media (max-width: $tablet) {
                margin-right: 0;
                width: 22px;
                height: 22px;
            }

            svg {
                width: 100%;
                height: 100%;

                g path {
                    transition: all 0.3s ease;
                }
            }

            &:hover svg g path {
                fill: #3b5998;
            }
        }

        .menu-icon {
            cursor: pointer;
            display: none;

            @media (max-width: $tablet) {
                display: block;
                margin-right: 20px;
            }
        }
    }

    header nav {
        display: flex;
        max-width: calc(var(--container-largeDesktop) + 50px);
        width: 100%;

        @media (max-width: $tablet) {
            opacity: 0;
            visibility: hidden;
            flex-direction: column;
            position: fixed;
            z-index: 2;
            top: 0;
            right: 0;
            width: 80%;
            max-width: 320px;
            height: calc(100vh - 71px);
            padding-top: 71px;
            overflow-y: auto;
            overscroll-behavior: none;
            background-color: white;
            transform: translateX(100%);
            transition:
                transform 0.3s ease,
                box-shadow 0.3s ease,
                opacity 0.3s ease;
        }

        .close-icon {
            display: none;
            cursor: pointer;
            position: fixed;
            right: 20px;
            top: 29px;
        }

        .note-m {
            display: none;
            opacity: 0;

            @media (max-width: $tablet) {
                display: block;
                visibility: hidden;
                color: var(--septenary-color);
                font-size: 18px;
                padding: 10.5px 20px;
            }

            &:hover {
                color: var(--primary-color);
            }
        }

        .nav-list {
            position: relative;

            @media (max-width: $tablet) {
                visibility: hidden;
                opacity: 0;
            }

            &:not(:last-child) {
                .nav-title::after {
                    content: "．";
                    color: #000;
                    position: absolute;
                    right: -10px;

                    @media (max-width: $tablet) {
                        content: none;
                    }
                }
            }

            .nav-title {
                font-size: 20px;
                letter-spacing: 0.5px;
                font-weight: var(--weight-normal);
                display: flex;
                position: relative;
                z-index: 0;

                @media (max-width: $tablet) {
                    width: 100%;
                    font-size: 18px;
                }

                div {
                    cursor: pointer;
                    padding: 0 26px 5px 26px;
                    color: #000;
                    transition: all 0.3s ease;

                    @media (max-width: $tablet) {
                        display: flex;
                        width: 100%;
                        padding: 0;
                        color: var(--septenary-color);
                        padding: 10.5px 20px;
                    }

                    &:hover {
                        color: var(--primary-color);
                    }
                }

                span {
                    padding: 0 3px 5px 3px;
                    border-bottom: 1px solid transparent;
                    transition: border-bottom 0.3s ease;

                    @media (max-width: $tablet) {
                        padding-bottom: 0;
                        border-bottom: none;
                    }
                }
            }

            svg {
                display: none;
                transition: all 0.3s ease;

                @media (max-width: $tablet) {
                    display: block;
                    position: absolute;
                    right: 22px;
                    top: 20px;
                    z-index: -1;
                }
            }

            ul {
                margin: 0;
                padding: 0;
                display: none;
                position: absolute;
                top: 35px;
                left: 0;
                z-index: -1;
                background-color: white;
                width: calc(100% - 30px);

                @media (max-width: $tablet) {
                    position: unset;
                }

                li {
                    list-style: none;

                    a {
                        color: #000;
                        font-size: 18px;
                        font-weight: var(--weight-normal);
                        display: block;
                        text-align: center;
                        transition: all 0.3s ease;

                        @media (max-width: $tablet) {
                            text-align: left;
                            padding: 10.5px 20px;
                            font-size: 15px;
                            background-color: #eff8ff;
                        }

                        &:hover {
                            color: var(--primary-color);
                        }
                    }
                }
            }

            &.open {
                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    padding: 20px 15px;
                    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
                    border-radius: 5px;

                    @media (max-width: $tablet) {
                        gap: 0;
                        padding: 0;
                        box-shadow: none;
                        border-radius: 0;
                        width: 100%;
                    }
                }

                .nav-title span {
                    color: var(--primary-color);
                    border-bottom: 1px solid var(--primary-color);

                    @media (max-width: $tablet) {
                        padding-bottom: 0;
                        border-bottom: none;
                    }
                }

                svg {
                    @media (max-width: $tablet) {
                        transform: rotate(180deg);
                    }

                    path {
                        fill: var(--primary-color);
                        stroke: var(--primary-color);
                    }
                }
            }
        }

        &.open {
            @media (max-width: $tablet) {
                box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.3);
                transform: translateX(0);
                visibility: visible;
                opacity: 1;
                transition:
                    transform 0.3s ease,
                    box-shadow 0.3s ease,
                    opacity 0.3s ease;
            }

            .nav-list {
                @media (max-width: $tablet) {
                    visibility: visible;
                    opacity: 1;
                }
            }

            .close-icon {
                @media (max-width: $tablet) {
                    display: block;
                }
            }

            .note-m {
                @media (max-width: $tablet) {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
</style>

<script>
    const menuIcon = document.querySelector(".menu-icon");
    const closeIcon = document.querySelector("header nav .close-icon");
    const nav = document.querySelector("header nav");
    const navList = document.querySelectorAll("header nav .nav-list");
    const navTitle = document.querySelectorAll(".nav-title div");
    const mask = document.querySelector("header .mask");

    const searchIcon = document.querySelector(".search-icon");
    const closeSearchIcon = document.querySelector(
        ".search-toggle .close-icon"
    );
    const search = document.querySelector(".search");

    menuIcon.addEventListener("click", () => {
        nav.classList.add("open");
        mask.classList.add("open");
    });

    closeIcon.addEventListener("click", () => {
        nav.classList.remove("open");
        mask.classList.remove("open");
    });

    mask.addEventListener("click", () => {
        nav.classList.remove("open");
        mask.classList.remove("open");
    });

    navTitle.forEach((title) => {
        title.addEventListener("click", () => {
            const parent = title.parentElement.parentElement;
            parent.classList.toggle("open");

            navList.forEach((item) => {
                if (item !== parent) {
                    item.classList.remove("open");
                }
            });
        });
    });

    document.addEventListener("click", (e) => {
        if (!(e.target as Element).closest("header nav .nav-list")) {
            navList.forEach((item) => {
                item.classList.remove("open");
            });
        }
    });

    searchIcon.addEventListener("click", () => {
        search.classList.add("open");
        searchIcon.classList.add("hidden");
        closeSearchIcon.classList.add("open");
    });

    closeSearchIcon.addEventListener("click", () => {
        search.classList.remove("open");
        searchIcon.classList.remove("hidden");
        closeSearchIcon.classList.remove("open");
    });
</script>
