---

---

<article class="qa-item">
    <div class="question">
        <span>Q1：參選讀物報名流程為何？</span>
        <svg
            xmlns="http://www.w3.org/2000/svg"
            width="9.061"
            height="16"
            viewBox="0 0 9.061 16"
        >
            <path
                id="Path_165"
                data-name="Path 165"
                d="M.4,0,0,.438,7.815,8.061,15,.438l-.4-.4L7.8,7.22Z"
                transform="translate(0.5 15.5) rotate(-90)"
                stroke="#000"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1"></path>
        </svg>
    </div>
    <div class="answer">
        <p>
            (1)以法人、商號報名者：<br />
            自民國98年4月13日起，已廢除營利事業統一發證制度，而以「商業登記證明文件」作為證明文件，取代營利事業登記證。因此，可作為參選報名檢送的公司、商業設立登記證明文件，種類包括：<br
            />
            a.營利事業登記證。 b.商業登記抄本。 c.登記機關核准商業登記之核准函。
            d.商業所在地主管機關就已登記事項發給之證明書。<br />
            <br />
            由於自民國98年4月13日起，已廢除營利事業統一發證制度，而以「商業登記證明文件」作為證明文件，取代營利事業登記證。所謂商業登記證明文件則指：登記機關核准商業登記之核准函、商業登記抄本、「全國商工行政服務入口網」（網址：<a
                href="http://gcis.nat.gov.tw"
                class="link-underline">http://gcis.nat.gov.tw</a
            >）商工登記資料之商業登記資料查詢網站之「商業登記基本資料」、或依商業登記法第25條規定請求商業所在地主管機關就已登記事項發給之證明書。（引用資料來源：臺北市政府臺北市商業處網站）<br
            />
            <br />
            (2)以團體報名者：需檢附團體立案證明或法人證明。<br />
            <br />
            (3)以個人報名者：需檢附有效之我國國民身分證明文件影本。如以出版社為申請人報名者，毋需附上讀物作者個人之國民身分證影本。<br
            />
            <br />
            (4)以機關(構)、學校者：應檢附公函。
        </p>
    </div>
</article>

<script>
    const question = document.querySelectorAll(".question");

    question.forEach((item) => {
        item.addEventListener("click", () => {
            item.parentElement.classList.toggle("open");
        });
    });
</script>
