---

---

<p class="blue bold mb-20">
    上傳填妥【表二：參選讀物資料】後，請自行列印【表一：申請人基本資料】、【表二：參選讀物資料】各一份，準備郵寄使用。
</p>

<form action="" method="" class="upload-form white-bg">
    <div class="department-data">
        <div class="mark input__wrapper">
            <label for="department">申請單位名稱(或姓名)：</label>
            <input type="text" id="department" name="department" />
        </div>

        <div class="mark input__wrapper">
            <label for="email">聯絡人Email：</label>
            <input type="email" id="email" name="email" />
        </div>

        <p class="bold mb-10">請上傳以下表格</p>

        <div class="mark input__wrapper input__wrapper--upload">
            <label>上傳【表二：參選讀物資料】：</label>

            <div>
                <input type="file" id="upload" name="upload" />
                <label for="upload">選擇檔案</label>
            </div>
        </div>
    </div>

    <button type="submit" class="btn">送出資料</button>

    <div class="line"></div>

    <div class="notice">
        <p class="bold mb-10">檔案填寫、上傳須知：</p>

        <a href="/logo.png" download="參選讀物資料" class="file">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="15"
                height="20.205"
                viewBox="0 0 15 20.205"
            >
                <path
                    id="Path_16276"
                    data-name="Path 16276"
                    d="M3.333,16.837h.833V16H3.333Zm1.667,0h6.667V16H5ZM3.333,14.312h.833V13.47H3.333Zm1.667,0h6.667V13.47H5ZM3.333,11.786h.833v-.842H3.333Zm1.667,0h6.667v-.842H5ZM3.333,9.261h.833V8.419H3.333ZM5,9.261h6.667V8.419H5ZM3.333,6.735h.833V5.893H3.333ZM5,6.735h6.667V5.893H5ZM1.667,1.684H10V4.157h3.333V18.468H1.667ZM0,0V20.2H15V3.367L11.615,0Z"
                    fill="#fff"></path>
            </svg>

            <span>【表二：參選讀物資料】</span>
        </a>

        <ul>
            <li data-order="1.">
                請自行依據參選讀物隻數量，增加檔案表格中之sheet工作表。
            </li>
            <li data-order="2.">
                上傳檔案命名方式：申請人姓名（或名稱）_表二參選讀物資料。
                <span class="example"
                    >例如：聯合線上股份有限公司_表二參選讀物資料。</span
                >
            </li>
            <li data-order="3.">
                <a href="/logo.png" download="填表範例下載" class="file">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="15"
                        height="20.205"
                        viewBox="0 0 15 20.205"
                    >
                        <path
                            id="Path_16276"
                            data-name="Path 16276"
                            d="M3.333,16.837h.833V16H3.333Zm1.667,0h6.667V16H5ZM3.333,14.312h.833V13.47H3.333Zm1.667,0h6.667V13.47H5ZM3.333,11.786h.833v-.842H3.333Zm1.667,0h6.667v-.842H5ZM3.333,9.261h.833V8.419H3.333ZM5,9.261h6.667V8.419H5ZM3.333,6.735h.833V5.893H3.333ZM5,6.735h6.667V5.893H5ZM1.667,1.684H10V4.157h3.333V18.468H1.667ZM0,0V20.2H15V3.367L11.615,0Z"
                            fill="#fff"></path>
                    </svg>

                    <span>表二 填表範例下載（Excel檔）</span>
                </a>
            </li>
        </ul>
    </div>
</form>
