---
import Title from "./Title.astro";
import SliderSignup from "./SliderSignup";

const stepList = [
    { title: "下載檔案" },
    { title: "線上填表、列印表單" },
    { title: "檔案上傳" },
    { title: "完成線上報名、郵寄讀物及文件" },
    { title: "資料修改" },
];
---

<SliderSignup client:only list={stepList}>
    {/*可在class添加"mb-10"、"mb-20"更改"margin-botton"*/}
    <div slot="download" class="signup__wrapper signup__wrapper--download">
        <p class="mb-10">活動簡章：</p>

        <ul class="mb-10">
            <li>
                (1) 採網路報名，請於線上報名填表前，先詳閱活動簡章及注意事項。
            </li>
            <li>
                (2)
                下截【表二：參選讀物資料】表格檔案，填妥後再開始進行線上報名步驟。
            </li>
        </ul>

        <div class="line"></div>

        <p class="blue bold mb-10">
            報名前，請先下载以下表格檔案，填妥後，進行以下報名步驟
        </p>

        <a href="/logo.png" download="參選讀物資料" class="file mb-20">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="15"
                height="20.205"
                viewBox="0 0 15 20.205"
            >
                <path
                    id="Path_16276"
                    data-name="Path 16276"
                    d="M3.333,16.837h.833V16H3.333Zm1.667,0h6.667V16H5ZM3.333,14.312h.833V13.47H3.333Zm1.667,0h6.667V13.47H5ZM3.333,11.786h.833v-.842H3.333Zm1.667,0h6.667v-.842H5ZM3.333,9.261h.833V8.419H3.333ZM5,9.261h6.667V8.419H5ZM3.333,6.735h.833V5.893H3.333ZM5,6.735h6.667V5.893H5ZM1.667,1.684H10V4.157h3.333V18.468H1.667ZM0,0V20.2H15V3.367L11.615,0Z"
                    fill="#fff"></path>
            </svg>

            <span>表二：參選讀物資料</span>
        </a>

        <ul>
            <li data-order="(1)">
                請自行依據參選讀物之數量，增加檔案表格中之sheet工作表。<br />
                <span class="example"
                    >例如：欲提交10本參選讀物，請於檔案中，增加10個sheet工作表。</span
                >
            </li>
            <li data-order="(2)">
                上傳檔案命名方式：申請人姓名（或名稱）_表二参選讀物資料。<br />
                <span class="example"
                    >例如：聯合線上股份有限公司_表二參選讀物資料。</span
                >
            </li>
            <li data-order="(3)">
                <a href="/logo.png" download="填表範例下載" class="file">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="15"
                        height="20.205"
                        viewBox="0 0 15 20.205"
                    >
                        <path
                            id="Path_16276"
                            data-name="Path 16276"
                            d="M3.333,16.837h.833V16H3.333Zm1.667,0h6.667V16H5ZM3.333,14.312h.833V13.47H3.333Zm1.667,0h6.667V13.47H5ZM3.333,11.786h.833v-.842H3.333Zm1.667,0h6.667v-.842H5ZM3.333,9.261h.833V8.419H3.333ZM5,9.261h6.667V8.419H5ZM3.333,6.735h.833V5.893H3.333ZM5,6.735h6.667V5.893H5ZM1.667,1.684H10V4.157h3.333V18.468H1.667ZM0,0V20.2H15V3.367L11.615,0Z"
                            fill="#fff"></path>
                    </svg>

                    <span>表二：填表範例下載</span>
                </a>
            </li>
        </ul>
    </div>

    <div slot="fill" class="signup__wrapper signup__wrapper--fill">
        <ul class="mb-20">
            <li class="blue bold">
                (1) 請填寫以下欄位，完成【表一：申請人基本資料】填寫。
            </li>
            <li class="bold">
                (2)
                參選讀物統計區，填寫時請填要報名的數量，寄送讀物時請每種寄兩冊。<br
                />
                <span class="example">
                    範例如下：<br />
                    ‧單冊圖書：共1冊（寄件時請寄兩冊）<br />
                    ‧套書叢書：共1套4冊（寄件時請寄8冊）<br />
                    ‧雜誌：共12期12冊（寄件時請寄24冊）<br />
                </span>
            </li>
            <li class="blue bold">
                (3)
                完成填表後，務必預覽報名表，並以A4紙列印，準備郵寄使用，並請至下一步驟上傳表二。
            </li>
            <li>
                (4)
                如預覽本表時，發現資料有誤，可按「重新填寫」按鈕，重寫修正，代在次預覽時予以列印。
            </li>
            <li>
                (5)
                下一步驟的「檔案上傳」頁面中，申請單位名稱（或姓名）及聯絡人E-mail請務必填寫與表一
                （此頁）線上填寫時的資料一致，以避免讀取不到報名資訊。
            </li>
        </ul>

        <form action="" method="">
            <div class="department-data">
                <Title classname="signup-form" title={["申請單位資料"]} />

                <div class="mark input__wrapper">
                    <label for="department">申請單位名稱(或姓名)：</label>
                    <input type="text" id="department" name="department" />
                </div>

                <div class="mark input__wrapper input__wrapper--address">
                    <label for="address">地址：</label>

                    <div>
                        <input type="text" id="zip" name="zip" />
                        <label for="zip">郵遞區號</label>
                    </div>

                    <div>
                        <input type="text" id="address" name="address" />
                    </div>
                </div>

                <div class="mark input__wrapper">
                    <label for="responsible">負責人姓名：</label>
                    <input type="text" id="responsible" name="responsible" />
                </div>
            </div>

            <div class="contact-data">
                <Title classname="signup-form" title={["聯絡人"]} />

                <div class="mark input__wrapper">
                    <label for="name">姓名：</label>
                    <input type="text" id="name" name="name" />
                </div>

                <div class="mark input__wrapper input__wrapper--tel">
                    <label>電話：</label>

                    <div>
                        <label for="tel">日</label>
                        <input type="tel" id="tel" name="tel" />
                    </div>

                    <div>
                        <label for="mobile">手機</label>
                        <input type="tel" id="mobile" name="mobile" />
                    </div>
                </div>

                <div class="input__wrapper">
                    <label for="fax">傳真：</label>
                    <input type="text" id="fax" name="fax" />
                </div>

                <div class="mark input__wrapper">
                    <label for="email">Email：</label>
                    <input type="email" id="email" name="email" />
                </div>
            </div>

            <div class="readings-data">
                <Title classname="signup-form" title={["參選讀物統計"]} />

                <div class="mark input__wrapper">
                    <label for="single">單冊圖書：</label>
                    <div>
                        共<input type="text" id="single" name="single" />冊
                    </div>
                </div>

                <div class="mark input__wrapper">
                    <label for="series">套書叢書：</label>

                    <div class="series__wrapper">
                        <div>
                            共<input type="text" id="series" name="series" />套
                        </div>

                        <div>
                            共<input
                                type="text"
                                id="series-total"
                                name="series-total"
                            />冊
                        </div>
                    </div>
                </div>

                <div class="mark input__wrapper">
                    <label for="magazine">雜誌：</label>

                    <div class="magazine__wrapper">
                        <div>
                            共<input
                                type="text"
                                id="magazine"
                                name="magazine"
                            />期(合訂本)
                        </div>

                        <div>
                            共<input
                                type="text"
                                id="magazine-total"
                                name="magazine-total"
                            />冊
                        </div>
                    </div>
                </div>
            </div>

            <div class="line"></div>

            <div class="notice">
                <ul>
                    <li data-order="1.">
                        上列出版品合於中小學生讀物選介之參選要件；申請人為參選讀物之著作財產權人或
                        其授權之人，且申請人同意參選讀物或推介者，無償永久授權該讀物之封面及表二所
                        載「內容摘要」文字（以下簡稱「授權標的」）予本部及本部再授權之人，得為不限
                        時間、地域、次數、方式之利用，並代本部向著作人取得不對本部及本部授權之人行
                        使著作人格權之同意書。
                    </li>
                </ul>

                <p>因應個資法規定，申請人為個人者，請勾選以下資料：</p>

                <div class="agree__wrapper">
                    <input type="checkbox" id="agree" name="agree" />
                    <label for="agree"
                        >申請人同意提供我國身分證明文件影本一份，並同意本部及本部再授權之人，使用於本案申請人資格審查之用。申請人並得請求資料補充、更正、刪除和停止蒐集、處理或利用之權利。</label
                    >
                </div>
            </div>

            <div class="btns">
                <button type="reset" class="btn">重新填寫</button>
                <button type="button" class="btn">預覽表單</button>
                <button type="submit" class="btn">送出資料</button>
            </div>
        </form>
    </div>

    <div slot="upload" class="signup__wrapper signup__wrapper--upload">
        檔案上傳
    </div>

    <div slot="send" class="signup__wrapper signup__wrapper--send">
        完成線上報名、郵寄讀物及文件
    </div>

    <div slot="revise" class="signup__wrapper signup__wrapper--revise">
        資料修改
    </div>
</SliderSignup>

<style is:global lang="scss">
    .signup-area,
    .signup {
        margin-top: 40px;

        @media (max-width: $tablet) {
            margin-top: 10px;
            margin-bottom: 15px;
        }

        .next {
            margin-block: 30px;
            border-radius: 50px;
            border-width: 1px;
            border-color: var(--primary-color);
            background-color: white;
            color: var(--primary-color);
            padding: 6px 20px;
            display: flex;
            gap: 10px;
            align-items: center;
            font-size: 18px;
            font-weight: var(--weight-regular);
            letter-spacing: 0.3px;

            @media (max-width: $tablet) {
                font-size: 16px;
            }

            svg path {
                transition: all 0.3s ease-in-out;
            }

            &:hover {
                border-color: var(--septenary-color);
                color: var(--septenary-color);

                svg path {
                    stroke: var(--septenary-color);
                }
            }
        }
    }

    .signup__wrapper {
        display: flex;
        flex-direction: column;

        .line {
            width: 100%;
            height: 21px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
                height: 0;
                border-bottom: 1px dashed var(--septenary-color);
            }
        }

        p,
        li {
            font-size: 18px;
            font-weight: var(--weight-regular);
            letter-spacing: 0.3px;
            text-align: left;
            color: #000;

            @media (max-width: $tablet) {
                font-size: 16px;
                letter-spacing: 0.2px;
            }
        }

        p {
            margin-block: 0;
        }

        ul {
            list-style: none;
            margin-block: 0;
            padding-inline-start: 0;
        }

        li {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }

            .example {
                font-size: 14px;
                width: calc(100% - 27px);
                position: relative;
                left: 27px;

                @media (max-width: $tablet) {
                    letter-spacing: 0.4px;
                }
            }

            &:has(.example) {
                display: flex;
                flex-direction: column;
                gap: 2px;
            }
        }

        li[data-order] {
            &::before {
                content: attr(data-order);
                margin-right: 4px;
            }

            &:has(.file)::before {
                margin-right: 2px;
                position: relative;
                top: -5px;
            }

            .example {
                width: 100%;
                left: 0;
            }

            &:has(.example) {
                width: calc(100% - 27px);
                position: relative;
                left: 27px;

                &::before {
                    position: absolute;
                    left: -27px;
                }
            }
        }

        .file {
            width: fit-content;
            display: inline-grid;
            grid-template-columns: 15px auto;
            gap: 10px;
            align-items: center;
            padding: 3px 10px;
            border-radius: 5px;
            background-color: var(--primary-color);
            color: white;
            font-size: 16px;
            font-weight: var(--weight-regular);
            letter-spacing: 0.3px;
            text-align: left;

            &.btn {
                border-width: 0px;
            }

            &:hover {
                background-color: var(--septenary-color);
            }
        }

        a.file {
            transition: all 0.3s ease;
        }

        li .file {
            position: relative;
            top: 3px;

            @media (max-width: $tablet) {
                top: 4px;
            }
        }

        .mb-10 {
            margin-bottom: 10px;
        }

        .mb-20 {
            margin-bottom: 20px;
        }

        .blue {
            color: var(--primary-color);

            .example {
                color: #000;
            }
        }

        .bold {
            font-weight: var(--weight-bold);

            .example {
                font-weight: var(--weight-regular);
                font-size: 18px;
                line-height: 1.625;
                margin-top: 8px;

                @media (max-width: $tablet) {
                    font-size: 16px;
                    line-height: 1.516;
                }
            }
        }
    }

    .signup__wrapper form {
        position: relative;
        border-radius: 10px;
        box-shadow: 0 0 10px 0 #00000026;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: white;
            border-radius: 10px;
            z-index: -1;
        }

        .department-data,
        .contact-data,
        .readings-data,
        .notice,
        .btns {
            padding-inline: 40px;
            margin-top: 40px;

            @media (max-width: $tablet) {
                padding-inline: 20px;
            }
        }

        .department-data,
        .contact-data,
        .readings-data {
            text-align: left;
            width: calc(100% - 80px);

            @media (max-width: $tablet) {
                width: calc(100% - 40px);
            }
        }

        .readings-data {
            .input__wrapper div:not(.series__wrapper, .magazine__wrapper) {
                display: flex;
                align-items: center;
                gap: 5px;
                margin-top: 10px;
            }

            .series__wrapper,
            .magazine__wrapper {
                display: flex;
                flex-wrap: wrap;
                gap: 40px;
            }
        }

        .input__wrapper {
            font-size: 18px;
            line-height: 1;
            font-weight: var(--weight-regular);
            letter-spacing: 0.54px;
            position: relative;
            left: 12px;
            width: calc(100% - 12px);
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .input__wrapper--address {
            div:has(#zip) {
                display: flex;
                align-items: flex-end;
                gap: 10px;

                input {
                    max-width: 150px;
                }
            }
        }

        .input__wrapper--tel {
            display: grid;
            gap: 10px;

            label:not([for="tel"], [for="mobile"]) {
                grid-row: 1 / 2;
            }

            div {
                grid-row: 2 / 2;
                display: flex;
                align-items: center;
                gap: 5px;
            }

            input {
                width: 100%;
            }
        }

        .mark {
            &::before {
                content: "*";
                color: #d11a2f;
                font-size: 24.53px;
                line-height: 0.4896;
                position: absolute;
                left: -12px;
                top: 6px;
            }
        }

        label:not([for="agree"]) {
            word-break: keep-all;
        }

        label:not([for="agree"], [for="tel"], [for="mobile"]) {
            display: block;
            width: 100%;
        }

        .department-data,
        .contact-data {
            input:not(#tel, #mobile) {
                width: calc(100% - 12px);
                margin-top: 10px;
            }
        }

        .btns {
            max-width: 440px;
            width: calc(100% - 80px);
            display: flex;
            justify-content: space-between;
            margin-bottom: 40px;
            margin-inline: auto;

            @media (max-width: $tablet) {
                width: calc(100% - 40px);
                gap: 20px;
            }

            .btn {
                max-width: 74px;
                width: 100%;
            }
        }

        .line {
            margin-top: 40px;
        }

        .notice {
            text-align: left;

            li[data-order] {
                width: calc(100% - 27px);
                position: relative;
                left: 27px;

                &::before {
                    position: absolute;
                    left: -27px;
                }
            }
        }
    }

    .signup-area {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: var(--tertiary-color);
            z-index: -1;
        }

        .signup__wrapper {
            max-width: 800px;
            width: 100%;

            @media (max-width: $tablet) {
                width: calc(100% - 40px);
            }
        }
    }

    .signup {
        .signup__wrapper {
            @media (max-width: $desktop) {
                padding-inline: 20px;
            }
        }

        .next {
            margin-inline: auto;
        }
    }
</style>
