---
import SignupDownload from "./SignupDownload.astro";
import SignupFill from "./SignupFill.astro";
import SignupUpload from "./SignupUpload.astro";
import SignupSend from "./SignupSend.astro";
import SignupRevise from "./SignupRevise.astro";
import SliderSignup from "./SliderSignup";
import "../styles/signup-form.scss";

const stepList = [
    { title: "下載檔案" },
    { title: "線上填表、列印表單" },
    { title: "檔案上傳" },
    { title: "完成線上報名、郵寄讀物及文件" },
    { title: "資料修改" },
];
---

<SliderSignup client:only list={stepList}>
    {/*可在class添加"mb-10"、"mb-20"更改"margin-botton"*/}
    <div slot="download" class="signup__wrapper signup__wrapper--download">
        <SignupDownload />
    </div>

    <div slot="fill" class="signup__wrapper signup__wrapper--fill">
        <SignupFill />
    </div>

    <div slot="upload" class="signup__wrapper signup__wrapper--upload">
        <SignupUpload />
    </div>

    <div slot="send" class="signup__wrapper signup__wrapper--send">
        <SignupSend />
    </div>

    <div slot="revise" class="signup__wrapper signup__wrapper--revise">
        <SignupRevise />
    </div>
</SliderSignup>

<style is:global lang="scss">
    .signup-area,
    .signup {
        margin-top: 40px;

        @media (max-width: $tablet) {
            margin-top: 10px;
            margin-bottom: 15px;
        }

        .next {
            margin-block: 30px;
            border-radius: 50px;
            border-width: 1px;
            border-color: var(--primary-color);
            background-color: white;
            color: var(--primary-color);
            padding: 6px 20px;
            display: flex;
            gap: 10px;
            align-items: center;
            font-size: 18px;
            font-weight: var(--weight-regular);
            letter-spacing: 0.3px;

            @media (max-width: $tablet) {
                font-size: 16px;
            }

            svg path {
                transition: all 0.3s ease-in-out;
            }

            &:hover {
                border-color: var(--septenary-color);
                color: var(--septenary-color);

                svg path {
                    stroke: var(--septenary-color);
                }
            }
        }
    }

    .signup__wrapper {
        display: flex;
        flex-direction: column;

        .white-bg {
            position: relative;
            border-radius: 10px;
            box-shadow: 0 0 10px 0 #00000026;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: white;
                border-radius: 10px;
                z-index: -1;
            }
        }

        .line {
            width: 100%;
            height: 21px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
                height: 0;
                border-bottom: 1px dashed var(--septenary-color);
            }
        }

        p,
        li {
            font-size: 18px;
            font-weight: var(--weight-regular);
            letter-spacing: 0.3px;
            text-align: left;
            color: #000;

            @media (max-width: $tablet) {
                font-size: 16px;
                letter-spacing: 0.2px;
            }
        }

        p {
            margin-block: 0;
        }

        ul {
            list-style: none;
            margin-block: 0;
            padding-inline-start: 0;
        }

        li {
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }

            .example {
                font-size: 14px;
                width: calc(100% - 27px);
                position: relative;
                left: 27px;

                @media (max-width: $tablet) {
                    letter-spacing: 0.4px;
                }
            }

            &:has(.example):not(.nested) {
                display: flex;
                flex-direction: column;
                gap: 2px;
            }
        }

        li[data-order] {
            &::before {
                content: attr(data-order);
                margin-right: 4px;
            }

            &:has(.file)::before {
                margin-right: 2px;
                position: relative;
                top: -5px;
            }

            .example {
                width: 100%;
                left: 0;
            }

            &:has(.example) {
                width: calc(100% - 27px);
                position: relative;
                left: 27px;

                &::before {
                    position: absolute;
                    left: -27px;
                }
            }
        }

        .file {
            width: fit-content;
            display: inline-grid;
            grid-template-columns: 15px auto;
            gap: 10px;
            align-items: center;
            padding: 3px 10px;
            border-radius: 5px;
            background-color: var(--primary-color);
            color: white;
            font-size: 16px;
            font-weight: var(--weight-regular);
            letter-spacing: 0.3px;
            text-align: left;

            &.btn {
                border-width: 0px;
            }

            &:hover {
                background-color: var(--septenary-color);
            }
        }

        a.file {
            transition: all 0.3s ease;
        }

        .mb-10 {
            margin-bottom: 10px;
        }

        .mb-20 {
            margin-bottom: 20px;
        }

        .blue {
            color: var(--primary-color);

            .example {
                color: #000;
            }
        }

        .bold {
            font-weight: var(--weight-bold);

            .example {
                font-weight: var(--weight-regular);
                font-size: 18px;
                line-height: 1.625;
                margin-top: 8px;

                @media (max-width: $tablet) {
                    font-size: 16px;
                    line-height: 1.516;
                }
            }
        }

        &.signup__wrapper--send {
            a.file {
                position: relative;
                top: 3px;
            }

            ul:not(.notice) li[data-order] {
                position: relative;
                width: calc(100% - 40px);
                left: 40px;

                &::before {
                    position: absolute;
                    left: -40px;
                }

                &:has(.file)::before {
                    top: 3px;
                }
            }

            li ul:not(.notice) li[data-order],
            .notice li[data-order] {
                width: calc(100% - 22px);
                left: 22px;

                &::before {
                    left: -22px;
                }
            }

            .notice li[data-order] {
                position: relative;

                &::before {
                    position: absolute;
                }
            }

            .step__content {
                position: relative;
                max-width: 436px;
                width: calc(100% - 22px);
                left: 15px;

                @media (max-width: $tablet) {
                    left: 11px;
                }

                &[data-order]::before {
                    content: attr(data-order);
                    position: absolute;
                    top: 0;
                    left: -22px;
                }
            }

            .flow-chart {
                margin-bottom: 40px;
                padding-block: 20px 40px;
                padding-inline: 40px;

                @media (max-width: $tablet) {
                    margin-bottom: 20px;
                    padding-block: 0 20px;
                    padding-inline: 10px;
                }
            }

            .step {
                margin-inline: auto;
                max-width: 600px;

                @media (max-width: $tablet) {
                    max-width: 100%;
                }

                li {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: calc(100% - 30px);
                    background-color: var(--quinary-color);
                    border-radius: 50px;
                    padding: 15px;

                    @media (max-width: $tablet) {
                        border-radius: 20px;
                    }
                }

                li .line {
                    max-width: 480px;
                }

                &-arrow {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 10px;
                }
            }
        }
    }

    .signup-area {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: var(--tertiary-color);
            z-index: -1;
        }

        .signup__wrapper {
            max-width: 800px;
            width: 100%;

            @media (max-width: $tablet) {
                width: calc(100% - 40px);
            }
        }
    }

    .signup {
        .signup__wrapper {
            @media (max-width: $desktop) {
                padding-inline: 20px;
            }
        }

        .next {
            margin-inline: auto;
        }
    }
</style>
