---

---

<form action="" method="" class="revise-form">
    <div class="department-data">
        <div class="mark input__wrapper">
            <label for="department">申請單位名稱(或姓名)：</label>
            <input type="text" id="department" name="department" />
        </div>

        <div class="mark input__wrapper">
            <label for="email">聯絡人Email：</label>
            <input type="email" id="email" name="email" />
        </div>
    </div>

    <button type="submit" class="btn">搜尋</button>
</form>
