---
import Layout from "../../../layouts/Layout.astro";
import Title from "../../../components/Title.astro";
import Aside from "../../../components/Aside.astro";
import "../../../styles/title.scss";
import "../../../styles/slider.scss";
import "../../../styles/book-list.scss";
---

<Layout title="當屆獲選書單">
    <main>
        <div class="container breadcrumb">
            <nav>
                <a href="#">首頁</a> / <a href="#">選書指南</a> / <a href="#"
                    >當屆獲選書單</a
                >
            </nav>
        </div>

        <div class="container">
            <div class="book-list">
                <aside>
                    <Aside all={false} />
                </aside>

                <div class="main-content">
                    <div class="top-part">
                        <Title title={["所有書籍"]} classname="book-list" />

                        <div class="filter">
                            <div class="search">
                                <span class="label">獲選書籍-全部-不限年齡</span
                                >
                                <form action="" method="">
                                    <input type="text" placeholder="搜尋書籍" />
                                    <button type="submit">
                                        <svg
                                            id="Group_11209"
                                            data-name="Group 11209"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            width="20"
                                            height="20"
                                            viewBox="0 0 20 20"
                                        >
                                            <defs>
                                                <clipPath id="clip-path">
                                                    <rect
                                                        id="Rectangle_1141"
                                                        data-name="Rectangle 1141"
                                                        width="20"
                                                        height="20"
                                                        fill="#7e7e7e"></rect>
                                                </clipPath>
                                            </defs>
                                            <g
                                                id="Group_11208"
                                                data-name="Group 11208"
                                                clip-path="url(#clip-path)"
                                            >
                                                <path
                                                    id="Path_16149"
                                                    data-name="Path 16149"
                                                    d="M20,19.177l-6.664-6.6A7.646,7.646,0,0,0,7.568,0a7.639,7.639,0,0,0,0,15.278,7.5,7.5,0,0,0,4.963-1.886L19.194,20l.8-.823ZM7.568,14.125a6.486,6.486,0,0,1,0-12.972,6.486,6.486,0,0,1,0,12.972"
                                                    fill="#7e7e7e"></path>
                                            </g>
                                        </svg>
                                    </button>
                                </form>
                                <span class="prompt">
                                    提供書名/作者/類別/出版社/書籍簡介/適讀年齡等關鍵字搜尋
                                </span>
                            </div>

                            <div class="quick">
                                <span class="label">快速篩選</span>

                                <div class="method">
                                    <div class="cate">
                                        <span class="selector">
                                            書籍類別

                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="16"
                                                height="9.061"
                                                viewBox="0 0 16 9.061"
                                            >
                                                <path
                                                    id="Path_165"
                                                    data-name="Path 165"
                                                    d="M.4,0,0,.438,7.815,8.061,15,.438l-.4-.4L7.8,7.22Z"
                                                    transform="translate(0.5 0.5)"
                                                    stroke="#000"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    stroke-width="1"></path>
                                            </svg>
                                        </span>

                                        <div class="options">
                                            <a href="#" class="option"
                                                >人文社科類</a
                                            >
                                            <a href="#" class="option"
                                                >叢書工具書類</a
                                            >
                                            <a href="#" class="option"
                                                >圖畫書類</a
                                            >
                                            <a href="#" class="option"
                                                >文學翻譯類</a
                                            >
                                            <a href="#" class="option">文學類</a
                                            >
                                            <a href="#" class="option">漫畫類</a
                                            >
                                            <a href="#" class="option"
                                                >自然科普類</a
                                            >
                                            <a href="#" class="option">雜誌類</a
                                            >
                                        </div>
                                    </div>

                                    <div class="age">
                                        <span class="selector">
                                            適讀年齡

                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="16"
                                                height="9.061"
                                                viewBox="0 0 16 9.061"
                                            >
                                                <path
                                                    id="Path_165"
                                                    data-name="Path 165"
                                                    d="M.4,0,0,.438,7.815,8.061,15,.438l-.4-.4L7.8,7.22Z"
                                                    transform="translate(0.5 0.5)"
                                                    stroke="#000"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    stroke-width="1"></path>
                                            </svg>
                                        </span>

                                        <div class="options">
                                            <a href="#" class="option">學齡前</a
                                            >
                                            <a href="#" class="option"
                                                >小學低年級</a
                                            >
                                            <a href="#" class="option"
                                                >小學中年級</a
                                            >
                                            <a href="#" class="option"
                                                >小學高年級</a
                                            >
                                            <a href="#" class="option">國中</a>
                                            <a href="#" class="option">高中</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="download">
                                <span class="label">檔案下載</span>

                                <div class="files">
                                    <div class="complete">
                                        <span class="selector">
                                            完整書單

                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="16"
                                                height="9.061"
                                                viewBox="0 0 16 9.061"
                                            >
                                                <path
                                                    id="Path_165"
                                                    data-name="Path 165"
                                                    d="M.4,0,0,.438,7.815,8.061,15,.438l-.4-.4L7.8,7.22Z"
                                                    transform="translate(0.5 0.5)"
                                                    stroke="#000"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    stroke-width="1"></path>
                                            </svg>
                                        </span>

                                        <ul class="options">
                                            <li class="option">.xls</li>
                                            <li class="option">.odf</li>
                                        </ul>
                                    </div>

                                    <div class="selection">
                                        <span class="selector">
                                            評選報告

                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="16"
                                                height="9.061"
                                                viewBox="0 0 16 9.061"
                                            >
                                                <path
                                                    id="Path_165"
                                                    data-name="Path 165"
                                                    d="M.4,0,0,.438,7.815,8.061,15,.438l-.4-.4L7.8,7.22Z"
                                                    transform="translate(0.5 0.5)"
                                                    stroke="#000"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    stroke-width="1"></path>
                                            </svg>
                                        </span>

                                        <ul class="options">
                                            <li class="option">.pdf</li>
                                            <li class="option">.odf</li>
                                        </ul>
                                    </div>

                                    <div class="age">
                                        <span class="selector">
                                            分齡書單

                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                width="16"
                                                height="9.061"
                                                viewBox="0 0 16 9.061"
                                            >
                                                <path
                                                    id="Path_165"
                                                    data-name="Path 165"
                                                    d="M.4,0,0,.438,7.815,8.061,15,.438l-.4-.4L7.8,7.22Z"
                                                    transform="translate(0.5 0.5)"
                                                    stroke="#000"
                                                    stroke-linecap="round"
                                                    stroke-linejoin="round"
                                                    stroke-width="1"></path>
                                            </svg>
                                        </span>

                                        <ul class="options">
                                            <li class="option">學齡前書單</li>
                                            <li class="option">
                                                小學低年級書單
                                            </li>
                                            <li class="option">
                                                小學中年級書單
                                            </li>
                                            <li class="option">
                                                小學高年級書單
                                            </li>
                                            <li class="option">國中書單</li>
                                            <li class="option">高中書單</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="middle-part">middle-part</div>

                    <div class="bottom-part">bottom-part</div>
                </div>
            </div>
        </div>
    </main>
</Layout>
